


:root {
  /* --n: 30.6985% 0.039032 171.364646; */
  --n: 88.0% -1.2  -2.0;
}


.-bottom-1 {
  bottom: -0.25rem;
}
.-left-2 {
  left: -0.5rem;
}
.-right-2 {
  right: -0.5rem;
}
.-top-1 {
  top: -0.25rem;
}
.bottom-0 {
  bottom: 0;
}
.left-0 {
  left: 0;
}
.left-1\/2 {
  left: 50%;
}
.right-1\/2 {
  right: 50%;
}
.top-0 {
  top: 0;
}
.top-1\/2 {
  top: 50%;
}
.top-\[53\%\] {
  top: 53%;
}
.isolate {
  isolation: isolate;
}
.-z-10 {
  z-index: -10;
}
.z-10 {
  z-index: 10;
}
.z-20 {
  z-index: 20;
}
.z-40 {
  z-index: 40;
}
.z-50 {
  z-index: 50;
}
.z-\[60\] {
  z-index: 60;
}
.order-none {
  order: 0;
}




@keyframes opacity {
  0% {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.animate-opacity {
  animation: opacity 0.25s ease-in-out;
}
@keyframes pulse {
  50% {
    opacity: 0.5;
  }
}
.animate-pulse {
  animation: pulse 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;
}

.animate-shimmer {
  animation: shimmer 3s ease-out infinite alternate;
}
@keyframes text-slide-8 {
  0%,
  10% {
    transform: translateY(0);
  }
  12.5%,
  22.5% {
    transform: translateY(-11.11%);
  }
  25%,
  35% {
    transform: translateY(-22.22%);
  }
  37.5%,
  47.5% {
    transform: translateY(-33.33%);
  }
  50%,
  60% {
    transform: translateY(-44.44%);
  }
  62.5%,
  72.5% {
    transform: translateY(-55.55%);
  }
  75%,
  85% {
    transform: translateY(-66.66%);
  }
  87.5%,
  97.5% {
    transform: translateY(-77.77%);
  }
  to {
    transform: translateY(-88.88%);
  }
}
.animate-text-slide-8 {
  animation: text-slide-8 20s cubic-bezier(0.83, 0, 0.17, 1) infinite;
}



.bg-neutral {
  --tw-bg-opacity: 1;
  background-color: var(--fallback-n, oklch(var(--n) / var(--tw-bg-opacity)));
}






